.underline
{
    text-decoration: underline;
}

.strike
{
    text-decoration: line-through;
}

img.align-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main p
{
    text-align: justify;
}

main blockquote
{
    text-align: justify;
}

main img
{
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter:         drop-shadow(10px 10px 10px #222); 
    margin: 30px;
}

main audio
{
    display: table;
    margin: 0 auto;
}

